.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: aliceblue;
}
body {
  background-color: black;
}
.header {
  position: fixed;
  height: 8%;
  width: 100%;
  padding: 20px 100px;
  background-color: rgba(45, 46, 46, 0.992);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.Logo {
  font-size: 25px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  position: relative;
  font-size: 18px;
  color: aliceblue;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}
.navbar a:hover::before {
  width: 100%;
}
.head {
  display: flex;
  color: aliceblue;
  position: absolute;
  top: 40%;
  left: 15%;
}
h4 {
  color: aliceblue;
  transition: 0.3s;
}
h4:hover {
  font-size: 103%;
}
button {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  background-color: black;
  border: 1px solid gray;
  color: aliceblue;
  font-size: 15px;
  transition: 0.3s;
}
button:hover {
  background-color: rgba(8, 136, 19, 0.76);
  width: 110px;
  height: 33px;
}
.av {
  background-color: aliceblue;
  height: 250px;
  margin-left: 350px;
  border-radius: 50%;
}
.io {
  left: 78%;
  top: 60%;
  position: absolute;
  height: 230px;
  width: 230px;
  border-radius: 10px;
}
.ion {
  top: 20%;
  left: 78%;
  position: absolute;
  height: 230px;
  width: 230px;
  border-radius: 10px;
}
.ima {
  display: flex;
  
}
#par {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 110%;
  text-align: justify;
  left: 12%;
  right: 12%;
  line-height: 1.5;
  transition: 0.5s;
}
a{
  transition: 0.3s;
}
a:hover{
  color: rgba(8, 136, 19, 0.76);
}
#par:hover {
  color: rgba(8, 136, 19, 0.76);
}
h3 {
  color: aliceblue;
}
#container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b5f;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


.na {
  color: rgba(8, 136, 19, 0.76);

  display: flex;
}
hr {
  position: relative;
  left: 25%;
  padding: 5px;
  background-color: rgba(8, 136, 19, 0.76);
  border: none;
  border-radius: 2px;
  height: 250px;
}
.cert {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 70%;
  margin-left: 8%;
  margin-right: 8%;
}
.c1 {
  height: 350px;
  width: 500px;
  margin-top: 3%;
  margin-left: -30%;
  border-radius: 10px;
  transition: 0.4s;
}

.c2 {
  height: 350px;
  width: 500px;
  margin-top: 3%;
  border-radius: 10px;
  transition: 0.4s;
}
.cert p {
  position: relative;
  margin-top: -30%;
  margin-left: -1%;
  font-size: 20px;
  font-weight: 700;
}
.c1:hover {
  border: 6px solid rgba(8, 136, 19, 0.256);
}
.c2:hover {
  border: 6px solid rgba(8, 136, 19, 0.292);
}
.works{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  margin-left: 120px;
  margin-right: 40px;
  justify-content: center;
  
  
  
}
.wo img{
  border: 5px solid rgba(0, 128, 0, 0.419);
  height: 260px;
  width: 430px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: black;
  transition: 0.4s;

}
.wo img:hover{
  border:5px solid rgb(16, 207, 16);
  
}

#pr p{
  margin-left: 150px;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width:576px) {

  .header {
    padding: 10px;
  }
  
  .navbar {
    height: fit-content;
    
  }
  
  .navbar a {
    margin: 10px 0;
  }
  
  .head {
    margin-top: 50px;
    margin-left: -70px;
    text-align: center;
    padding: 20px;
  }
  .head hr{
    padding: 0px;
  }
  
  .av {
    height: 150px;
    width: 150px;
    margin: 20px 0;
    align-self: center;
  }
  
  .cont{
    height: 100%;
    width: 250px;
    text-align: left;
  }
  .ion{
    height: 130px;
    width: 130px ;
    position: absolute;
    margin-left: -270px;
    margin-top: 20px;
    
  }
  .io {
    height: 130px;
    width: 130px ;
    position: absolute;
    margin-left: -120px;
    margin-top: -238px;
  }
  
  #par {
    text-align: justify;
    width: auto;

  }
  
  .cert {
    position: relative;
    margin-top: 400%;
    flex-direction: column;
    margin-left: 80px;
    width: fit-content;
  }
  
  .cert img {
    position: relative;
    margin: 10px 0;
    align-items: center;
    height: 200px;
    width: 300px;
  }
  .works{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
    margin-left: 0px;
    margin-right: 40px;
    justify-content: center; 
  }
  .wo img{
    height: 260px;
    width: 430px;
    margin-left:30px ;
    margin-bottom: 30px;
  }
  footer{
    width: fit-content;

  }
  
  .footer-content {
    width: fit-content;
    direction: ltr;
    
  }
}
@media screen and (min-width: 576px) and (max-width: 912px) {
  .header {
    padding: 10px;
  }
  
  .navbar {
    flex-direction: row;
  }
  
  .navbar a {
    margin: 10px 0;
  }
  
  .head {
    flex-direction: row;
    text-align: center;
    padding: 20px;
  }
  
  .av {
    margin: 20px 0;
    align-self: center;
  }
  
  .ion{
    position: relative;
    margin-top: 20px;
    
  }
  .io {
    position: relative;
    margin-left: 10px;
    margin-top: 20px;
  }
  
  #par {
    margin-top: 20px;
  }
  
  .cert {
    flex-direction: column;
    align-items: center;
  }
  
  .cert img {
    margin: 10px 0;
  }
  .works{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin-left: 120px;
    margin-right: 40px;
    justify-content: center; 
  }
  .wo img{
    border: 5px solid rgba(0, 128, 0, 0.419);
    height: 200px;
    width: 330px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: black;
    transition: 0.4s;
  
  }
  footer{
    width: fit-content;

  }
  
  .footer-content {
    width: fit-content;
    
  }
  
}
@media screen and (min-width: 913px) and (max-width: 1200px) {
  
  .header {
    padding: 10px;
  }
  
  .navbar {
    flex-direction: row;
  }
  
  .navbar a {
    margin: 10px 0;
  }
  
  .head {
    flex-direction: row;
    text-align: center;
    padding: 20px;
  }
  
  .av {
    margin: 20px 0;
    align-self: center;
  }
  
  .ion,
  .io {
    position: relative;
    margin: 20px 0;
    margin-top: 20px;
  }
  
  #par {
    margin-top: 20px;
  }
  
  .cert {
    margin-top: 50%;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }
  
  .cert img {
    margin: 10px 0;
  }
  .works{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    margin-left: 120px;
    margin-right: 40px;
    justify-content: center; 
  }
  footer{
    width: fit-content;
    height: fit-content;
  }
  
  .footer-content {
    width: 100%;
  }
}
@media screen and (max-width:1200px) {
  
}@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
